<style>
.home-products-wrap h2{
	color: black;
}
.home-products-wrap img{
	max-height: 200px;
	width: auto!important;
}
.home-products-wrap{
	text-align: center;
	text-align: left;
	padding-top: 50px;
	padding-bottom: 50px;
	background-color: #007AC2;
	color: white;
}
.home-products-list{
	font-size: 12px;
	margin-bottom: 10px;
	font-weight: lighter;
}
.dark-blue-box {
	transition: all .6s ease-in;
    /*background-color: #005F9B;*/
    /*text-align: center;*/
    height: 260px;
    width: 100%;
    margin-top: 1em;
}
.dark-blue-box img {
    float: left;
    margin-right: 1em;
    width: auto;
    height: auto;
    max-width: 100%;
}
.dark-blue-box h3 {
    font-size: 1.2em;
    margin-top: 10px;
}

.sub-footer-box:hover .dark-blue-box{
	background-color: #FFF;
	color: #000;
}
.sub-footer-sub-title{
	font-size:13px; 
	margin-top: 15px;
	padding: 10px 10px; 
}
</style>
<div class="home-products-wrap">
	<div class="home_primary container">
		<div class="col-md-6 col-lg-6">
	      <a target="_blank" href="/home/noticias/Firma-convenio-ASA-UB.pdf"><img src="/home/images/Convenio-UB.jpg" alt="Articulo Cronista">
	      <h2>Unidos por la capacitaci&oacute;n GIS</h2>
	      <h4>Enterate m&aacute;s sobre el convenio firmado entre Aeroterra S.A. y la Universidad de Belgrano</h4></a>
	    </div>
	    <div class="col-md-6 col-lg-6">
	      <a href="http://storymaps.esri.com/stories/2017/terrorist-attacks/" target="blank"><img src="/home/images/mapa-terrorismo-2017.jpg" alt="Historias Contadas con Mapas">
	      <h2>Historias contadas con Mapas</h2>
	      <h4>Accede a informaci&oacute;n georrefenciada sobre uno de los problemas m&aacute;s graves de la actualidad: El Terrorismo</h4></a>
	    </div>
		<!-- <div class="col-xs-12 col-lg-4 sub-footer-box">
			<h3>Lee la nueva nota de El Cronista</h3>
			<div class="dark-blue-box">
				<a target="_blank" href="/home/noticias/articulo-el-cronista-evento-embajada-corregido.pdf">
					<img style="width:100%;" src="/home/images/el_cronista.jpg" alt="">
					<p class="sub-footer-sub-title">Evento Safe Communities de Aeroterra en los medios <span class="glyphicon glyphicon-arrow-right"></span></p>
				</a>
			</div>
		</div>
		<a href="http://storymaps.esri.com/stories/2017/terrorist-attacks/" target="blank">
		<div class="col-xs-12 col-lg-8 sub-footer-box">
			<h3>Historias contadas con Mapas</h3>
			<div class="dark-blue-box clearfix">
	       		<img src="/home/images/mapa-terrorismo-2017.jpg" alt="Historias contadas con Mapas" title="Historias contadas con Mapas">
	            <h3>Ataques Terroristas en 2017</h3>
	            <p class="sub-footer-sub-title">Accede a informaci&oacute;n georrefenciada sobre uno de los problemas m&aacute;s graves de la actualidad: El Terrorismo.</p>
		  </div>
		</div>
	  	</a> -->
	</div>
</div>
