<style>
  /*FOOTER*/
  #uc-footer{
      background-color: #282754;
      height: auto;
  }
  #uc-footer div.container{
      padding-top: 50px;
      padding-bottom: 50px;
  }
  #uc-footer h2{
      color: #fff;
      font-size: 24px !important;
  }
  #uc-footer ul{
      margin: 10px 0 10px 5px;
      padding: 0;
  }
  .social_icon{
      background-image: url('./images/share-icons.png');
      background-repeat: no-repeat !important;
      display: inline-block;
      text-indent: -9999px;
      height: 30px;
      width: 32px;
      color: #fff;
      transition: all ease-in .3s;
  }
  .icon_email {
      background-position: 0px 0px;
  }
  .icon_email:hover {
      background-position: 0px -40px;
  }
  .icon_facebook {
      background-position: -80px 0px;
  }
  .icon_facebook:hover {
      background-position: -80px -40px;
  }
  .icon_instagram {
      background-position: -160px 0px;
  }
  .icon_instagram:hover {
      background-position: -160px -40px;
  }
  .icon_twitter {
      background-position: -40px 0px;
  }
  .icon_twitter:hover {
      background-position: -40px -40px;
  }
  .icon_linkedin {
      background-position: -200px 0px;
  }
  .icon_linkedin:hover {
      background-position: -200px -40px;
  }
  .icon_youtube {
      background-position: -400px 0px;
  }
  .icon_youtube:hover {
      background-position: -400px -40px;
  }
  #uc-footer ul li {
      font-size: 14px;
      line-height: 26px;
      list-style: outside none none;
  }
  #uc-footer a{
      color: white;
  }
  #uc-footer p{
      color: white;
      font-size: 15px;
  }
  a{
      text-decoration: none;
  }
</style>
<div id="uc-footer" class="page-section clearfix row">
  <div class="container">
    <div class="col-md-6 col-lg-6">
      <h5 style="color:#FFF">Te esperamos &nbsp;10 <font size=5><stron>11</strong></font> 12 &nbsp;&nbsp;| Mayo 2017</h5>
      <h2 style="letter-spacing: 2px;">S&Iacute;GUENOS</h2>
      <a target="_blank" href="https://www.facebook.com/GIS.Aeroterra" class="social_icon icon_facebook">facebook</a>
      <a target="_blank" href="https://twitter.com/GIS_AEROTERRA" class="social_icon icon_twitter">twitter</a>
      <a target="_blank" href="http://www.linkedin.com/company/1108294?trk=tyah" class="social_icon icon_linkedin">linkedin</a>
      <a target="_blank" href="https://www.youtube.com/user/aerot1973" class="social_icon icon_youtube">youtube</a>
    </div>
    <div class="col-md-6 col-lg-6">
      <h2 style="letter-spacing: 2px;">CONTACTO</h2>
      <ul class="list-unstyled">
        <li><a href="mailto: uc@aeroterra.com"><span class="glyphicon glyphicon-envelope"></span> uc@aeroterra.com</a></li>
        <li><a title="Llame a Aeroterra con sus consultas." target="_top"><span class="glyphicon glyphicon-earphone"></span> +54 11 5272 0900</a>
        </li>
    </ul>
    <p>Tu consulta es muy importante para nosotros.<br>
    Te responderemos a la brevedad. &iexcl;Gracias!</p>
    </div>
  </div>
</div>