<table class="uc-table">
  <tbody>
    <tr>
      <th colspan="1">
        Categoría
      </th>
      <th>
        Descripción 
      </th>
      <th style="width:200px;">
        Costo
      </th>
      <th colspan="1">
        Pago 
      </th>
    </tr>
    <tr>
      <td colspan="1">
        B
      </td>
      <td>
      <span style="font-weight: bold">USUARIO </span>con sede principal en Argentina o Uruguay <span style="font-weight: bold">Sin Mantenimiento</span> vigente </td>
      <td style="width:200px;">
        ARS 2.500 
      </td>
      <td colspan="1" valign="middle" style="padding-top:50px;">
        <form method="post" action="https://gateway.payulatam.com/ppp-web-gateway/pb.zul" accept-charset="UTF-8">
  <input type="image" border="0" alt="" src="http://www.payulatam.com/img-secure-2015/boton_pagar_mediano.png" onClick="this.form.urlOrigen.value = window.location.href;"/>
  <input name="buttonId" type="hidden" value="Ymhijk7tXVYFP4IsME5sy0Nc4mpzXqMvesAUqWSNA9e8TVqZcUp0sw=="/>
  <input name="merchantId" type="hidden" value="531640"/>
  <input name="accountId" type="hidden" value="533548"/>
  <input name="description" type="hidden" value="Usuarios Arg y Uy sin mantenimiento"/>
  <input name="referenceCode" type="hidden" value="REGISTRO B"/>
  <input name="amount" type="hidden" value="2500.00"/>
  <input name="tax" type="hidden" value="433.89"/>
  <input name="taxReturnBase" type="hidden" value="2066.11"/>
  <input name="shipmentValue" value="0.00" type="hidden"/>
  <input name="currency" type="hidden" value="ARS"/>
  <input name="lng" type="hidden" value="es"/>
  <input name="displayShippingInformation" type="hidden" value="NO"/>
  <input name="sourceUrl" id="urlOrigen" value="" type="hidden"/>
  <input name="buttonType" value="SIMPLE" type="hidden"/>
  <input name="signature" value="28b06e4c4221bd38202191f105c01f4950a1b733cc4587936e993ab3d4494359" type="hidden"/>
</form>
      </td>
    </tr>
    <tr>
      <td colspan="1">
        C
      </td>
      <td>
        Usuario Adicional 
      </td>
      <td style="width:200px;">
        ARS 2.000 
      </td>
      <td colspan="1" valign="middle" style="padding-top:50px;">
        <form method="post" action="https://gateway.payulatam.com/ppp-web-gateway/pb.zul" accept-charset="UTF-8">
  <input type="image" border="0" alt="" src="http://www.payulatam.com/img-secure-2015/boton_pagar_mediano.png" onClick="this.form.urlOrigen.value = window.location.href;"/>
  <input name="buttonId" type="hidden" value="I7ImjD3XRmR73+JkFUmlQzVyiogv7KSxYKOHj3lTtNBJ7K0yg07i9A=="/>
  <input name="merchantId" type="hidden" value="531640"/>
  <input name="accountId" type="hidden" value="533548"/>
  <input name="description" type="hidden" value="Usuarios Adicional"/>
  <input name="referenceCode" type="hidden" value="REGISTRO C"/>
  <input name="amount" type="hidden" value="2000.00"/>
  <input name="tax" type="hidden" value="347.11"/>
  <input name="taxReturnBase" type="hidden" value="1652.89"/>
  <input name="shipmentValue" value="0.00" type="hidden"/>
  <input name="currency" type="hidden" value="ARS"/>
  <input name="lng" type="hidden" value="es"/>
  <input name="displayShippingInformation" type="hidden" value="NO"/>
  <input name="sourceUrl" id="urlOrigen" value="" type="hidden"/>
  <input name="buttonType" value="SIMPLE" type="hidden"/>
  <input name="signature" value="7aa94930b85deb75edc158b4b3bf7cb6da95bb6bbcdc0cbf93479bf783e186c1" type="hidden"/>
</form>
      </td>
    </tr>
    <tr>
      <td colspan="1">
       D
      </td>
      <td>
        Usuarios o Partners sin sede principal en Argentina o Uruguay 
      </td>
      <td style="width:200px;">
        ARS 4.000
      </td>
      <td colspan="1" valign="middle" style="padding-top:50px;">
        <form method="post" action="https://gateway.payulatam.com/ppp-web-gateway/pb.zul" accept-charset="UTF-8">
  <input type="image" border="0" alt="" src="http://www.payulatam.com/img-secure-2015/boton_pagar_mediano.png" onClick="this.form.urlOrigen.value = window.location.href;"/>
  <input name="buttonId" type="hidden" value="YiZs/c7wYeprBSkdvyTsq/cieVEyH3dNiUWqVR/r8BVw2rKFODRY5Q=="/>
  <input name="merchantId" type="hidden" value="531640"/>
  <input name="accountId" type="hidden" value="533548"/>
  <input name="description" type="hidden" value="Usuarios o Partners otro país"/>
  <input name="referenceCode" type="hidden" value="REGISTRO D"/>
  <input name="amount" type="hidden" value="4000.00"/>
  <input name="tax" type="hidden" value="694.22"/>
  <input name="taxReturnBase" type="hidden" value="3305.78"/>
  <input name="shipmentValue" value="0.00" type="hidden"/>
  <input name="currency" type="hidden" value="ARS"/>
  <input name="lng" type="hidden" value="es"/>
  <input name="displayShippingInformation" type="hidden" value="NO"/>
  <input name="sourceUrl" id="urlOrigen" value="" type="hidden"/>
  <input name="buttonType" value="SIMPLE" type="hidden"/>
  <input name="signature" value="13b26b1dd1fb9e673dcced89dc21b5cfa89e5a5c67f2c1ed6734d14484e9b642" type="hidden"/>
</form>
      </td>
    </tr>


    <tr>
      <td colspan="1">
        E
      </td>
      <td>
        No Usuario
      </td>
      <td style="width:200px;">
        ARS 4.000 
      </td>
      <td colspan="1" valign="middle" style="padding-top:50px;">
        <form method="post" action="https://gateway.payulatam.com/ppp-web-gateway/pb.zul" accept-charset="UTF-8">
  <input type="image" border="0" alt="" src="http://www.payulatam.com/img-secure-2015/boton_pagar_mediano.png" onClick="this.form.urlOrigen.value = window.location.href;"/>
  <input name="buttonId" type="hidden" value="gzjjhNo6SyWY9y+zlIQ+GmCF547IbdzT5QHT5mmcHTT8CyAbRmTPAg=="/>
  <input name="merchantId" type="hidden" value="531640"/>
  <input name="accountId" type="hidden" value="533548"/>
  <input name="description" type="hidden" value="No Usuario"/>
  <input name="referenceCode" type="hidden" value="REGISTRO E"/>
  <input name="amount" type="hidden" value="4000.00"/>
  <input name="tax" type="hidden" value="694.22"/>
  <input name="taxReturnBase" type="hidden" value="3305.78"/>
  <input name="shipmentValue" value="0.00" type="hidden"/>
  <input name="currency" type="hidden" value="ARS"/>
  <input name="lng" type="hidden" value="es"/>
  <input name="displayShippingInformation" type="hidden" value="NO"/>
  <input name="sourceUrl" id="urlOrigen" value="" type="hidden"/>
  <input name="buttonType" value="SIMPLE" type="hidden"/>
  <input name="signature" value="37ec9cc5514ed16b8242b949c29bc9804ae863f0931eb375242d79999ff3df44" type="hidden"/>
</form>
      </td>
    </tr>

    <tr>
      <td colspan="1">
        Pre-Conferencia</td>
      <td>ArcGIS para Agricultura (Asistentes a la UC2017)</td>
      <td style="width:200px;">
        ARS 1.000</td>
      <td colspan="1" valign="middle" style="padding-top:50px;">
        <form method="post" action="https://gateway.payulatam.com/ppp-web-gateway/pb.zul" accept-charset="UTF-8">
  <input type="image" border="0" alt="" src="http://www.payulatam.com/img-secure-2015/boton_pagar_mediano.png" onClick="this.form.urlOrigen.value = window.location.href;"/>
  <input name="buttonId" type="hidden" value="E6v+2KqFLmdLwZdZBoJYSqvTHucF1qfsWzu8AlrYHj+Ml1KGBLRiEQ=="/>
  <input name="merchantId" type="hidden" value="531640"/>
  <input name="accountId" type="hidden" value="533548"/>
  <input name="description" type="hidden" value="ArcGIS para Agricultura"/>
  <input name="referenceCode" type="hidden" value="CURSO PRE 01"/>
  <input name="amount" type="hidden" value="1500.01"/>
  <input name="tax" type="hidden" value="260.34"/>
  <input name="taxReturnBase" type="hidden" value="1239.67"/>
  <input name="shipmentValue" value="0.00" type="hidden"/>
  <input name="currency" type="hidden" value="ARS"/>
  <input name="lng" type="hidden" value="es"/>
  <input name="displayShippingInformation" type="hidden" value="NO"/>
  <input name="sourceUrl" id="urlOrigen" value="" type="hidden"/>
  <input name="buttonType" value="SIMPLE" type="hidden"/>
  <input name="signature" value="ddcc5ff7a5388e5a4789e5c581d3937774c52471464c3963c3fa355d8d94f29b" type="hidden"/>
</form>
      </td>
 </tr>
    

      <tr>
      <td colspan="1">
        Pre-Conferencia</td>
      <td>ArcGIS para Gobierno Inteligente (Asistentes a la UC2017)</td>
      <td style="width:200px;">
        ARS 1.000</td>
      <td colspan="1" valign="middle" style="padding-top:50px;">
        <form method="post" action="https://gateway.payulatam.com/ppp-web-gateway/pb.zul" accept-charset="UTF-8">
  <input type="image" border="0" alt="" src="http://www.payulatam.com/img-secure-2015/boton_pagar_mediano.png" onClick="this.form.urlOrigen.value = window.location.href;"/>
  <input name="buttonId" type="hidden" value="prgmJ1ccrRcG+bdNQakcKGeKoT0FQ5lfDpc+2scD2YkR1d89UlCLoA=="/>
  <input name="merchantId" type="hidden" value="531640"/>
  <input name="accountId" type="hidden" value="533548"/>
  <input name="description" type="hidden" value="ArcGIS para Gobierno Inteligente"/>
  <input name="referenceCode" type="hidden" value="CURSO PRE 02"/>
  <input name="amount" type="hidden" value="1500.01"/>
  <input name="tax" type="hidden" value="260.34"/>
  <input name="taxReturnBase" type="hidden" value="1239.67"/>
  <input name="shipmentValue" value="0.00" type="hidden"/>
  <input name="currency" type="hidden" value="ARS"/>
  <input name="lng" type="hidden" value="es"/>
  <input name="displayShippingInformation" type="hidden" value="NO"/>
  <input name="sourceUrl" id="urlOrigen" value="" type="hidden"/>
  <input name="buttonType" value="SIMPLE" type="hidden"/>
  <input name="signature" value="748b5e748cd8610489e99774730db4d76f2145c01bf67118aaa0bebbc5bb7967" type="hidden"/>
</form>
      </td>
      </tr>

     

          
  </tbody>
</table>
