<style>
.row2{
	position: relative;
	z-index: 999;
	height: 75px;
	overflow: hidden;
	width: 100%;
}
.wrapper2 {
	width: 100%;
	height: 60px;
	margin-top: -1px;
	position: absolute;
	left: 0;
	top: 0;
}
.carousel2 {

}
.carousel2 div {
	text-align: center;
	width: 150px;
	height: 75px;
	float: left;
	position: relative;
}
.carousel2 div img {
	border: none;
	height: 45px;
	width: auto;
}
.carousel2 div span {
	display: none;
}
.carousel2 div:hover span {
	background-color: #333;
	color: #fff;
	font-size: 14px;
	line-height: 22px;
	display: inline-block;
	width: 100px;
	padding: 2px 0;
	margin: 0 0 0 -50px;
	position: absolute;
	bottom: 30px;
	left: 50%;
	border-radius: 3px;
}
</style>
<div class="container"><h5 style="margin-bottom:25px;"><strong>Algunos Usuarios Participantes de la UC2016:</strong></h5></div>
<div class="row2">
	<div class="wrapper2">
		<div class="carousel2">
			<!-- Logo1 -->

	        <!-- Logo2 -->

	        <!-- Logo3 -->
			<div>
            	<img src="./images/logos/agricultura_ forestal/INTA.jpg" alt="Sponsor UC2016 Logo"  />
            	<!-- <span></span> -->
	        </div>
	        <!-- Logo4 -->
			<div>
            	<img src="./images/logos/agricultura_ forestal/LEDESMA.jpg" alt="Sponsor UC2016 Logo"  />
            	<!-- <span></span> -->
	        </div>
	        <!-- Logo5 -->

	        <!-- Logo6 -->
			<div>
            	<img src="./images/logos/agricultura_ forestal/UPM.jpg" alt="Sponsor UC2016 Logo"  />
            	<!-- <span></span> -->
	        </div>
	        <!-- Logo7 -->
			<div>
            	<img src="./images/logos/arcgis_online/SANCOR.jpg" alt="Sponsor UC2016 Logo"  />
            	<!-- <span></span> -->
	        </div>
	        <!-- Logo8 -->
			<div>
            	<img src="./images/logos/arcgis_online/AGD.jpg" alt="Sponsor UC2016 Logo"  />
            	<!-- <span></span> -->
	        </div>
	        <!-- Logo9 -->
			<div>
            	<img src="./images/logos/business/BAPRO.jpg" alt="Sponsor UC2016 Logo"  />
            	<!-- <span></span> -->
	        </div>
	        <!-- Logo10 -->
			<div>
            	<img src="./images/logos/business/Cable_Vision.jpg" alt="Sponsor UC2016 Logo"  />
            	<!-- <span></span> -->
	        </div>
	        <!-- Logo11 -->
			<div>
            	<img src="./images/logos/business/directv.jpg" alt="Sponsor UC2016 Logo"  />
            	<!-- <span></span> -->
	        </div>
	        <!-- Logo12 -->
			<div>
            	<img src="./images/logos/oil_gas/TGN.jpg" alt="Sponsor UC2016 Logo"  />
            	<!-- <span></span> -->
	        </div>
	        <!-- Logo13 -->
			<div>
            	<img src="./images/logos/oil_gas/Total.jpg" alt="Sponsor UC2016 Logo"  />
            	<!-- <span></span> -->
	        </div>
	        <!-- Logo14 -->
			<div>
            	<img src="./images/logos/oil_gas/YPF.jpg" alt="Sponsor UC2016 Logo"  />
            	<!-- <span></span> -->
	        </div>
	        <!-- Logo15 -->
			<div>
            	<img src="./images/logos/oil_gas/CH2.jpg" alt="Sponsor UC2016 Logo"  />
            	<!-- <span></span> -->
	        </div>
	        <!-- Logo16 -->
			<div>
            	<img src="./images/logos/oil_gas/tecpetrol.jpg" alt="Sponsor UC2016 Logo"  />
            	<!-- <span></span> -->
	        </div>
	        <!-- Logo17 -->
			<div>
            	<img src="./images/logos/oil_gas/SINOPEC.jpg" alt="Sponsor UC2016 Logo"  />
            	<!-- <span></span> -->
	        </div>
	        <!-- Logo18 -->
			<div>
            	<img src="./images/logos/oil_gas/Pluspetrol.jpg" alt="Sponsor UC2016 Logo"  />
            	<!-- <span></span> -->
	        </div>
	        <!-- Logo19 -->
			<div>
            	<img src="./images/logos/oil_gas/PETROBRAS.jpg" alt="Sponsor UC2016 Logo"  />
            	<!-- <span></span> -->
	        </div>
	        <!-- Logo20 -->
			<div>
            	<img src="./images/logos/oil_gas/PAE.jpg" alt="Sponsor UC2016 Logo"  />
            	<!-- <span></span> -->
	        </div>
	        <!-- Logo21 -->
			<div>
            	<img src="./images/logos/oil_gas/GCS.jpg" alt="Sponsor UC2016 Logo"  />
            	<!-- <span></span> -->
	        </div>
	        <!-- Logo22 -->
			<div>
            	<img src="./images/logos/oil_gas/ENARSA.jpg" alt="Sponsor UC2016 Logo"  />
            	<!-- <span></span> -->
	        </div>
	        <!-- Logo23 -->
			<div>
            	<img src="./images/logos/oil_gas/Chevron.jpg" alt="Sponsor UC2016 Logo"  />
            	<!-- <span></span> -->
	        </div>
	        <!-- Logo24 -->
			<div>
            	<img src="./images/logos/planeamiento/GOB_CBA.jpg" alt="Sponsor UC2016 Logo"  />
            	<!-- <span></span> -->
	        </div>
	        <!-- Logo25 -->
			<div>
            	<img src="./images/logos/planeamiento/MIN_TR.jpg" alt="Sponsor UC2016 Logo"  />
            	<!-- <span></span> -->
	        </div>
	    </div>
    </div>
</div>
<div class="row2">
	<div class="wrapper2">
		<div class="carousel2">
			<!-- Logo1 -->
			<div>
            	<img src="./images/logos/seguridad_defensa/EJERCITO_A.jpg" alt="Sponsor UC2016 Logo"  />
            	<!-- <span></span> -->
	        </div>
	        <!-- Logo2 -->
			<div>
            	<img src="./images/logos/seguridad_defensa/FAEREA.jpg" alt="Sponsor UC2016 Logo"  />
            	<!-- <span></span> -->
	        </div>
	        <!-- Logo3 -->
			<div>
            	<img src="./images/logos/seguridad_defensa/gendarmeria.jpg" alt="Sponsor UC2016 Logo"  />
            	<!-- <span></span> -->
	        </div>
	        <!-- Logo4 -->
			<div>
            	<img src="./images/logos/seguridad_defensa/IGN.jpg" alt="Sponsor UC2016 Logo"  />
            	<!-- <span></span> -->
	        </div>
	        <!-- Logo5 -->
			<div>
            	<img src="./images/logos/seguridad_defensa/MIN_SEG.jpg" alt="Sponsor UC2016 Logo"  />
            	<!-- <span></span> -->
	        </div>
	        <!-- Logo6 -->
			<div>
            	<img src="./images/logos/seguridad_defensa/PN.jpg" alt="Sponsor UC2016 Logo"  />
            	<!-- <span></span> -->
	        </div>
	        <!-- Logo7 -->
			<div>
            	<img src="./images/logos/servicios_publicos/AGUAS_BONA.jpg" alt="Sponsor UC2016 Logo"  />
            	<!-- <span></span> -->
	        </div>
	        <!-- Logo8 -->
			<div>
            	<img src="./images/logos/servicios_publicos/EDENOR.jpg" alt="Sponsor UC2016 Logo"  />
            	<!-- <span></span> -->
	        </div>
	        <!-- Logo9 -->
			<div>
            	<img src="./images/logos/servicios_publicos/EDET.jpg" alt="Sponsor UC2016 Logo"  />
            	<!-- <span></span> -->
	        </div>
	        <!-- Logo10 -->
			<div>
            	<img src="./images/logos/servicios_publicos/METROGAS.jpg" alt="Sponsor UC2016 Logo"  />
            	<!-- <span></span> -->
	        </div>
	        <!-- Logo11 -->
			<div>
            	<img src="./images/logos/servicios_publicos/shaneider.jpg" alt="Sponsor UC2016 Logo"  />
            	<!-- <span></span> -->
	        </div>
	        <!-- Logo12 -->
			<div>
            	<img src="./images/logos/servicios_publicos/sinergis.jpg" alt="Sponsor UC2016 Logo"  />
            	<!-- <span></span> -->
	        </div>
	        <!-- Logo13 -->
			<div>
            	<img src="./images/logos/servicios_publicos/telecom.jpg" alt="Sponsor UC2016 Logo"  />
            	<!-- <span></span> -->
	        </div>
	        <!-- Logo14 -->
			<div>
            	<img src="./images/logos/servicios_publicos/techint.jpg" alt="Sponsor UC2016 Logo"  />
            	<!-- <span></span> -->
	        </div>
	        <!-- Logo15 -->
			<div>
            	<img src="./images/logos/servicios_publicos/transener.jpg" alt="Sponsor UC2016 Logo"  />
            	<!-- <span></span> -->
	        </div>
	        <!-- Logo16 -->
			<div>
            	<img src="./images/logos/smart_community/ACUMAR.jpg" alt="Sponsor UC2016 Logo"  />
            	<!-- <span></span> -->
	        </div>
	        <!-- Logo17 -->
			<div>
            	<img src="./images/logos/smart_community/ARN.jpg" alt="Sponsor UC2016 Logo"  />
            	<!-- <span></span> -->
	        </div>
	        <!-- Logo18 -->
			<div>
            	<img src="./images/logos/smart_community/DGC_La_Pampa.jpg" alt="Sponsor UC2016 Logo"  />
            	<!-- <span></span> -->
	        </div>
	        <!-- Logo19 -->
			<div>
            	<img src="./images/logos/smart_community/MSALUD_BSAS.jpg" alt="Sponsor UC2016 Logo"  />
            	<!-- <span></span> -->
	        </div>
	        <!-- Logo20 -->
			<div>
            	<img src="./images/logos/smart_community/Municipio_Concordia.jpg" alt="Sponsor UC2016 Logo"  />
            	<!-- <span></span> -->
	        </div>
	        <!-- Logo21 -->
			<div>
            	<img src="./images/logos/smart_community/Municipio_LA_MA.jpg" alt="Sponsor UC2016 Logo"  />
            	<!-- <span></span> -->
	        </div>
	        <!-- Logo22 -->
			<div>
            	<img src="./images/logos/smart_community/Municipio_SAN_MIGUEL.jpg" alt="Sponsor UC2016 Logo"  />
            	<!-- <span></span> -->
	        </div>
	        <!-- Logo23 -->
			<div>
            	<img src="./images/logos/smart_community/Municipio_SI.jpg" alt="Sponsor UC2016 Logo"  />
            	<!-- <span></span> -->
	        </div>
	        <!-- Logo24 -->
			<div>
            	<img src="./images/logos/smart_community/Municipio_TIGRE.jpg" alt="Sponsor UC2016 Logo"  />
            	<!-- <span></span> -->
	        </div>
	        <!-- Logo25 -->
			<div>
            	<img src="./images/logos/smart_community/Municipio_VL.jpg" alt="Sponsor UC2016 Logo"  />
            	<!-- <span></span> -->
	        </div>
	    </div>
    </div>
</div>
<script type="text/javascript">
$(document).ready(function() {
	$(function() {
 
		var $c2 = $('.carousel2'),
			$w2 = $(window);
	 
		$c2.carouFredSel({
			align: false,
			items: 21,
			scroll: {
				items: 1,
				duration: 1500,
				timeoutDuration: 0,
				easing: 'linear',
				pauseOnHover: 'immediate'
			}
		});
	 
		
		$w2.bind('carouse.size', function() {
			var nw2 = $w2.width();
			if (nw2 < 990) {
				nw2 = 990;
			}
	 
			$c2.width(nw2 * 22);
			$c2.parent().width(nw2);
	 
		}).trigger('carouse.size');
 
	});
});
</script>
