<style>
.row_sponsor{
	position: relative;
	z-index: 999;
	height: 125px;
	overflow: hidden;
	width: 100%;
}
.wrapper_sponsor {
	width: 100%;
	height: 125px;
	margin-top: -1px;
	position: absolute;
	left: 0;
	top: 0;
}
.carousel_sponsor {

}
.carousel_sponsor div {
	text-align: center;
	width: 230px;
	height: 125px;
	float: left;
	position: relative;
}
.carousel_sponsor div img {
	border: none;
	height: 80px;
	width: auto;
}
.carousel_sponsor div span {
	display: none;
}
.carousel_sponsor div:hover span {
	background-color: #333;
	color: #fff;
	font-size: 14px;
	line-height: 22px;
	display: inline-block;
	width: 100px;
	padding: 2px 0;
	margin: 0 0 0 -50px;
	position: absolute;
	bottom: 30px;
	left: 50%;
	border-radius: 3px;
}
</style>
<div class="container"><h5><strong>Nuestros Sponsors:</strong></h5></div>
<div class="row_sponsor">
	<div class="wrapper_sponsor">
		<div class="carousel_sponsor">
			<div>
	            <a target="_blank" href="https://indoo.rs/">
	            	<img src="./images/logos/sponsor/indoors.jpg" alt="Sponsor UC2017 Logo"  />
	            	<span>Indoors</span>
	            </a>
	        </div>
	        <div>
	            <a target="_blank" href="http://www.ica.com.uy">
	            	<img src="./images/logos/sponsor/ICA.jpg" alt="aula GIS aulaGIS"  />
	            	<span>ICA</span>
	            </a>
	        </div>
	        <div>
	            <a target="_blank" href="http://www.http://www.ciampagna.com.ar/">
	            	<img src="./images/logos/sponsor/Ciampagna_logo.jpg" alt="Sponsor UC2017 Logo"  />
	            	<span>Ciampagna</span>
	            </a>
	        </div>
	        <div>
	            <a target="_blank" href="http://www.ub.edu.ar/">
	            	<img src="./images/logos/sponsor/belgrano_logo.jpg" alt="Sponsor UC2017 Logo"  />
	            	<span>Universidad de Belgrano</span>
	            </a>
	        </div>
	  		<div>
	            <a target="_blank" href="http://www.smartactiva.com/">
	            	<img style="height: 45px;margin-top: 15px;" src="./images/logos/sponsor/smartactiva.jpg" alt="Sponsor UC2017 Logo"  />
	            	<span>Smart Activa</span>
	            </a>
	        </div>
	        <div>
	            <a target="_blank" href="http://www.newtech.com.ar/index.php">
	            	<img style="height: 140px;margin-top: -35px;" src="./images/logos/newtech_logo.png" alt="Sponsor UC2017 Logo"  />
	            	<span>Newtech Multimedia</span>
	            </a>
	        </div>
	        <div>
	            <a target="_blank" href="https://www.osisoft.com/">
	            	<img src="./images/logos/sponsor/OSISOFT.jpg" alt="Sponsor UC2017 Logo"  />
	            	<span>OSIsoft</span>
	            </a>
	        </div>
	        <div>
	            <a target="_blank" href="http://www.consultoraigeo.com.ar/WebIgeo/index.html">
	            	<img style="height:60px;margin-top:5px;" src="./images/logos/IGEO.png" alt="Sponsor UC2017 Logo"  />
	            	<span>IGEO</span>
	            </a>
	        </div>
	        <div>
	            <a target="_blank" href="http://exactearth.com/">
	            	<img src="./images/logos/exactearth-logo.png" alt="Sponsor UC2017 Logo"  />
	            	<span>ExactEarth</span>
	            </a>
	        </div>
	        <div>
	            <a target="_blank" href="http://quito.unigis.net/">
	            	<img src="./images/logos/sponsor/unigis_logo.jpg" alt="Sponsor UC2017 Logo"  />
	            	<span>UNIGIS</span>
	            </a>
	        </div>
	        <div>
	            <a target="_blank" href="https://www.xploretech.com/">
	            	<img src="./images/logos/sponsor/XPLO.jpg" alt="Sponsor UC2017 Logo"  />
	            	<span>XPLORE</span>
	            </a>
	        </div>
	        <div>
	            <a target="_blank" href="https://www.digitalglobe.com/">
	            	<img src="./images/logos/sponsor/digital_globe.jpg" alt="Sponsor UC2017 Logo"  />
	            	<span>Digital Globe</span>
	            </a>
	        </div>
	        <div>
	            <a target="_blank" href="https://indoo.rs/">
	            	<img src="./images/logos/sponsor/indoors.jpg" alt="Sponsor UC2017 Logo"  />
	            	<span>Indoors</span>
	            </a>
	        </div>
	        <div>
	            <a target="_blank" href="http://www.ica.com.uy">
	            	<img src="./images/logos/sponsor/ICA.jpg" alt="aula GIS aulaGIS"  />
	            	<span>ICA</span>
	            </a>
	        </div>
	        <div>
	            <a target="_blank" href="http://www.http://www.ciampagna.com.ar/">
	            	<img src="./images/logos/sponsor/Ciampagna_logo.jpg" alt="Sponsor UC2017 Logo"  />
	            	<span>Ciampagna</span>
	            </a>
	        </div>
	        <div>
	            <a target="_blank" href="http://www.ub.edu.ar/">
	            	<img src="./images/logos/sponsor/belgrano_logo.jpg" alt="Sponsor UC2017 Logo"  />
	            	<span>Universidad de Belgrano</span>
	            </a>
	        </div>
	  		<div>
	            <a target="_blank" href="http://www.smartactiva.com/">
	            	<img style="height: 45px;margin-top: 15px;" src="./images/logos/sponsor/smartactiva.jpg" alt="Sponsor UC2017 Logo"  />
	            	<span>Smart Activa</span>
	            </a>
	        </div>
	        <div>
	            <a target="_blank" href="http://www.newtech.com.ar/index.php">
	            	<img style="height: 140px;margin-top: -35px;" src="./images/logos/newtech_logo.png" alt="Sponsor UC2017 Logo"  />
	            	<span>newtech multimedia</span>
	            </a>
	        </div>
	        <div>
	            <a target="_blank" href="https://www.osisoft.com/">
	            	<img src="./images/logos/sponsor/OSISOFT.jpg" alt="Sponsor UC2017 Logo"  />
	            	<span>OSIsoft</span>
	            </a>
	        </div>
	        <div>
	            <a target="_blank" href="http://www.consultoraigeo.com.ar/WebIgeo/index.html">
	            	<img style="height:60px;margin-top:5px;" src="./images/logos/IGEO.png" alt="Sponsor UC2017 Logo"  />
	            	<span>IGEO</span>
	            </a>
	        </div>
	        <div>
	            <a target="_blank" href="http://exactearth.com/">
	            	<img src="./images/logos/exactearth-logo.png" alt="Sponsor UC2017 Logo"  />
	            	<span>ExactEarth</span>
	            </a>
	        </div>
	        <div>
	            <a target="_blank" href="http://quito.unigis.net/">
	            	<img src="./images/logos/sponsor/unigis_logo.jpg" alt="Sponsor UC2017 Logo"  />
	            	<span>UNIGIS</span>
	            </a>
	        </div>
	        <div>
	            <a target="_blank" href="https://www.xploretech.com/">
	            	<img src="./images/logos/sponsor/XPLO.jpg" alt="Sponsor UC2017 Logo"  />
	            	<span>XPLORE</span>
	            </a>
	        </div>
	        <div>
	            <a target="_blank" href="https://www.digitalglobe.com/">
	            	<img src="./images/logos/sponsor/digital_globe.jpg" alt="Sponsor UC2017 Logo"  />
	            	<span>Digital Globe</span>
	            </a>
	        </div>
	        <div>
	            <a target="_blank" href="https://indoo.rs/">
	            	<img src="./images/logos/sponsor/indoors.jpg" alt="Sponsor UC2017 Logo"  />
	            	<span>Indoors</span>
	            </a>
	        </div>
	        <div>
	            <a target="_blank" href="http://www.ica.com.uy">
	            	<img src="./images/logos/sponsor/ICA.jpg" alt="Sponsor UC2017 Logo"  />
	            	<span>ICA</span>
	            </a>
	        </div>
	        <div>
	            <a target="_blank" href="http://www.http://www.ciampagna.com.ar/">
	            	<img src="./images/logos/sponsor/Ciampagna_logo.jpg" alt="Sponsor UC2017 Logo"  />
	            	<span>Ciampagna</span>
	            </a>
	        </div>
	        <div>
	            <a target="_blank" href="http://www.ub.edu.ar/">
	            	<img src="./images/logos/sponsor/belgrano_logo.jpg" alt="Sponsor UC2017 Logo"  />
	            	<span>Universidad de Belgrano</span>
	            </a>
	        </div>
	  		<div>
	            <a target="_blank" href="http://www.smartactiva.com/">
	            	<img style="height: 45px;margin-top: 15px;" src="./images/logos/sponsor/smartactiva.jpg" alt="Sponsor UC2017 Logo"  />
	            	<span>Smart Activa</span>
	            </a>
	        </div>
	        <div>
	            <a target="_blank" href="http://www.newtech.com.ar/index.php">
	            	<img style="height: 140px;margin-top: -35px;" src="./images/logos/newtech_logo.png" alt="Sponsor UC2017 Logo"  />
	            	<span>newtech multimedia</span>
	            </a>
	        </div>
	        <div>
	            <a target="_blank" href="https://www.osisoft.com/">
	            	<img src="./images/logos/sponsor/OSISOFT.jpg" alt="Sponsor UC2017 Logo"  />
	            	<span>OSIsoft</span>
	            </a>
	        </div>
	        <div>
	            <a target="_blank" href="http://www.consultoraigeo.com.ar/WebIgeo/index.html">
	            	<img style="height:60px;margin-top:5px;" src="./images/logos/IGEO.png" alt="Sponsor UC2017 Logo"  />
	            	<span>IGEO</span>
	            </a>
	        </div>
	        <div>
	            <a target="_blank" href="http://exactearth.com/">
	            	<img src="./images/logos/exactearth-logo.png" alt="Sponsor UC2017 Logo"  />
	            	<span>ExactEarth</span>
	            </a>
	        </div>
	        <div>
	            <a target="_blank" href="http://quito.unigis.net/">
	            	<img src="./images/logos/sponsor/unigis_logo.jpg" alt="Sponsor UC2017 Logo"  />
	            	<span>UNIGIS</span>
	            </a>
	        </div>
			<div>
	            <a target="_blank" href="https://www.xploretech.com/">
	            	<img src="./images/logos/sponsor/XPLO.jpg" alt="Sponsor UC2017 Logo"  />
	            	<span>XPLORE</span>
	            </a>
	        </div>
	        <div>
	            <a target="_blank" href="https://www.digitalglobe.com/">
	            	<img src="./images/logos/sponsor/digital_globe.jpg" alt="Sponsor UC2017 Logo"  />
	            	<span>Digital Globe</span>
	            </a>
	        </div>
	    </div>
    </div>
</div>
<script type="text/javascript">
$(document).ready(function() {
	$(function() {
 
		var $c = $('.carousel_sponsor'),
			$w = $(window);
	 
		$c.carouFredSel({
			align: false,
			items: 22,
			scroll: {
				items: 1,
				duration: 3500,
				timeoutDuration: 0,
				easing: 'linear',
				pauseOnHover: 'immediate'
			}
		});
	 
		
		$w.bind('carouse.size', function() {
			var nw = $w.width();
			if (nw < 990) {
				nw = 990;
			}
	 
			$c.width(nw * 23);
			$c.parent().width(nw);
	 
		}).trigger('carouse.size');
 
	});
});
</script>
